body{
    background-color: MediumAquaMarine;
}
h2{
    text-align: left;
    font-size: 24px;
    color: Brown;
}
h5{
    color: darkblue;
    text-align: justify;
}
.section-trade, .section-title, .sectionVtitle{
    text-align: left;
    font-size: 20px; 
    color: blue; 
    font-weight: bolder;
}
#ped, #eld, #ana:hover{
    cursor: pointer;
}
#drugtitle{
    font-size: 28px;
    color: red;
    opacity: .9;
    font-weight: 800;
    position: relative;
    top: 2%;
}
#inValue{ 
    font-size: 24px;
    background-color: beige;
    width: 100px;
    height: 26px;
    border-radius: 5px;
    position: relative;
    top: 3%;
}
#confirm{
    text-align: center;
    font-size: 20px;
    font-weight: 600; 
    color: darkblue;
    border-radius: 5px;
    background-color: bisque; 
    width: 60px;
    height: 34px;
}
footer{
    position: absolute; 
    bottom: auto; 
    right: 3%;
}