body{
    background-color: Aquamarine;
}
h2{
    text-align: left;
    font-size: 28px;
    color: darkviolet;
}
#news{
    width: 300px;
    text-align: center;
    letter-spacing: 10px;
    color: orangered;
    font-size: 30px;
    font-weight: bolder;
    padding: 3px;
    border-radius: 8px;
    background-color: mistyrose;
    cursor: pointer;
}
#Context{
    display: none;
    font-size: larger;
    line-height: 2;
    padding: 10px;
    background: pink;
}
#inputData{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bolder;
}
#myData, #myBar{
    width: 20%;
    border-radius: 15px;
    background-color: pink;
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 5px;
    font-size: 24px;
    color: aliceblue;    
}
#btn{
    font-size: 28px;
    border-radius: 5px;
    background-color: pink;
}
.myTable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px solid blue;
    text-align: left;
}
.myTable th{
    background-color:cornflowerblue;
    text-align: center;
    font-size: 38px;
}
#dataSet{
    font-size: 32px;
    width: 100%;
    table-layout: auto;    
    padding: 3px;
    background-color: limegreen;
}
#dataShow{
    font-family: STXingkai;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 8px;
    color: navy;
    padding-left: 10px;
}
#dataset td{
    padding-left: 20px;
}
#dataSet :hover{
    background-color: orangered;
    color: royalblue;
    transition: 1.5s;
}
.ui-widget{
    font-size: 28px;
    font-weight: 600;
    color: blueviolet;
    list-style: none;
    text-align: left;
}
.ui-menu-item{
    padding: 3px;
}
.ui-helper-hidden-accessible{
    display: none;
}