body{
    background-color: mediumturquoise;
}
.container{
    font-size: 54px;
    font-family: 'Noto Serif TC', serif;
}
.block{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 66px;
    color: blueviolet;
    background-color: moccasin;
    width: 400px;
    height: 300px;
}
.block_r{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 66px;
    color: blueviolet;
    background-color: mediumorchid;
    width: 400px;
    height: 300px;
    transition: 2s, background-color;
    position: relative;
    top: 50%;
    left: 40%;
}
#show{
    font-size: 44px;
    text-align: center;
    color: red;
}
#ajax{
    font-size: 47px;
    color: mediumslateblue;
    position: relative;
    left: 15%;
}